body{
    font-family: "Montserrat", sans-serif;
}

#main-container{
    width: 50vw;
    height: 50vh;
}

#main-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#picture-info{
    bottom: 0;
    right: 0;
}

.my-aside-container{
    width: 200px;
    height: 10vh;

}

.my-aside-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb-arrows{
    width: 30px;
    height: 30px;
    color: black;
    background-color: grey;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: .7;
    cursor: pointer;
}

#up-arrow{
    top: 10px;
}

#down-arrow{
    bottom: 10px;
}